{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% endif %}

  {% assign start = paginator.page | minus: 2 %}
  {% assign end = paginator.page | plus: 2 %}

  {% if start < 1 %}
    {% assign start = 1 %}
  {% endif %}

  {% if end > paginator.total_pages %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  {% if start > 1 %}
    <a href="{{ site.baseurl }}/">1</a>
    {% if start > 2 %}
      <span>...</span>
    {% endif %}
  {% endif %}

  {% for page in (start..end) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ site.baseurl }}/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if end < paginator.total_pages %}
    {% if end < paginator.total_pages | minus: 1 %}
      <span>...</span>
    {% endif %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', paginator.total_pages | replace: '//', '/' }}">
      {{ paginator.total_pages }}
    </a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% endif %}

</div>
{% endif %}