--- # Add a comment to make this file sass-y. # Change this file for any custom CSS. ---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
    display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax",
"starsnonscss"
;

/*===== Related Posts =====*/
.related-posts {
    margin-top: 40px;
}

.related-posts h5 {
    display: inline-block;
    text-transform: capitalize;
}

/* Related Grid */
.related-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px auto;
}

.related-item {
    a {
        color: inherit;

        &:hover {
            color: #dc3545;
        }
    }
}

.related-item img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.related-item p {
    font-size: 15px;
    margin-top: 8px;
}

.related-item p:hover {
    color: #007bff;
}

/* Mobile */
@media (max-width: 768px) {
    .related-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.PageNavigation {
    color: #1C9963;

    &:hover {
        color: #dc3545
    }
}